<%- include ('../../views/_header.ejs') %>

    <div class="container">
        <div class="row">

            <div class="row mt -9">
                <a href="/pram/new" class="btn btn-danger"> Add </a>
                <table class="table table-borderd table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <% for(var i = 0 ; i < data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].id %>
                                    </td>
                                    <td>
                                        <%= data[i].a611998005 %>
                                    </td>
                                    <td>
                                        <%= data[i].b611998005 %>
                                    </td>
                                    <td>
                                        <%= data[i].c611998005 %>
                                    </td>
                                    <td>
                                        <%= data[i].d611998005 %>
                                    </td>
                                    <td>
                                        <a href="/pram/delete/ <%= data[i].id %>" class="btn btn-danger"> Delete</a>
                                        <a href="/pram/update/ <%= data[i].id %>" class="btn btn-danger"> Update</a>

                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>

                    </tbody>
                </table>

            </div>


        </div>
    </div>
    </div>



    <%- include ('../../views/_footer.ejs') %>