<%- include ('../../views/_header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                        <% if(data){ %>
                            <form action="/pram/update/ <%= data.id %>" method="post">
                                <div class="from-group">
                                    <input type="text" name="a611998005" value=" <%= data.Name %>" class="from-control">
                                </div>
                                <div class="from-group">
                                    <input type="text" name="b611998005" value="<%= data.Float %>">
                                </div>
                                <div class="from-group">
                                    <input type="text" name="c611998005" value=" <%= data.YesNo %>" class="from-control">
                                </div>
                                <div class="from-group">
                                    <input type="text" name="d611998005" value=" <%= data.DATE %> " class="from-control">
                                </div>
                                <button type="submit" class="btn-primary"> Update</button>
                            </form>
                            <% }else{ %>
                                <form action="/pram/add" method="post">
                                    <div class="from-group">
                                        <input type="text" name="a611998005" placeholder="Name" class="from-control">
                                    </div>
                                    <div class="from-group">
                                        <input type="text" name="b611998005" placeholder="Float" class="from-control">
                                    </div>
                                    <div class="from-group">
                                        <input type="text" name="c611998005" placeholder="YesNo" class="from-control">
                                    </div>
                                    <div class="from-group">
                                        <input type="text" name="d611998005" placeholder="DATE" class="from-control">
                                    </div>
                                    <button type="submit" class="btn-primary"> Save</button>
                                </form>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include ('../../views/_footer.ejs') %>