<%- include ('../../views/_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
            <div class="form-group" >
              <h5><font color=#0000>a611998019 == <%= data.a611998019 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>b611998019 == <%= data.b611998019 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>c611998019 == <%= data.c611998019 %></font></h5>
            </div>
            <div class="form-group">
              <h5><font color=#0000>d611998019 == <%= data.d611998019.toLocaleDateString() %></font></h5>
            </div>
            <div class="form-group">
              <h2><font color=#0000>u confirm  DELETE ??%></font></h2>
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <a href="/s611998019/delete/<%= data.id %>" class="btn btn-outline-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../../views/_footer.ejs') %>
