<%- include ('../../views/_header.ejs') %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-5" >
      <div class="card" >
        <div class="card-body" >
          <% if(data){ %>
          <form  action="/s611998019/update/<%= data.id %>" method="post" >
            <div class="form-group" >
              <input type="text" name="a611998019"  value=" <%= data.a611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="b611998019" value=" <%= data.b611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="c611998019" value=" <%= data.c611998019 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="text" name="d611998019" value=" <%= data.time %>" class="form-control" >
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <button type="submit"  class="btn btn-primary">Save Update</button>
          </form>
        <% }else { %>
          <form  action="/s611998019/add" method="post">
            <div class="form-group">
              <input type="text" name="a611998019" placeholder="a611998019 - varchar" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="b611998019" placeholder="b611998019 - float" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="c611998019" placeholder="c611998019 - boolean" class="form-control">
            </div>
            <div class="form-group">
              <input type="date" name="d611998019" placeholder="d611998019 - date" class="form-control">
            </div>
            <a href="/s611998019" class="btn btn-outline-secondary">>Back</a>
            <button type="submit"  class="btn btn-primary">Save Add</button>
          </form>
          <% } %>

        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>
