<%- include ('../../views/_header.ejs') %>

    <div class="container">

        <div class="row">

    <div class="col-md-7">
      <a href="/s611998019/new" class="btn btn-outline-success">Add</a>
      <table class="table table-hover">
        <thead>
          <tr class="table-active" >
            <th>No</th>
            <th>a611998019</th>
            <th>b611998019</th>
            <th>c611998019</th>
            <th>d611998019</th>
            <th>Do</th>
          </tr>
        </thead>
        <tbody>
          <% if(data){ %>
            <% for (var i = 0; i < data.length; i++) { %>
              <tr class="table-light">
                <td> <%= (i+1) %> </td>
                <td> <%= data[i].a611998019 %></td>
                <td> <%= data[i].b611998019 %> </td>
                <td> <%= data[i].c611998019 %> </td>
                <td> <%= data[i].time %> </td>
                <td>
                  <a href="/s611998019/del/<%= data[i].id %>" class="btn btn-outline-danger"> DELETE </a>
                  <a href="/s611998019/update/<%= data[i].id %>" class="btn btn-outline-secondary"> UPDATE </a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>


    <%- include ('../../views/_footer.ejs') %>
