<%- include("../../views/_header") %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-1">

            </div>
            <div class="col-md-12">
                <a href="/bas/new" class="btn btn-warning"> ADD </a>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr align="center" class="table-success">
                                <th> No </th>
                                <th> A611998002 </th>
                                <th> B611998002 </th>
                                <th> C611998002 </th>
                                <th> D611998002 </th>
                                <th> Edit </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <% if(data){ %>
                                <% for(var i =  0; i < data.length ; i++){%>
                                    <tr align="center">
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data[i].a611998002 %>
                                        </td>
                                        <td>
                                            <%= data[i].b611998002 %>
                                        </td>
                                        <td>
                                            <% if(data[i].c611998002 === 1) {%>
                                                True
                                                <%}else{%>
                                                    False
                                                    <%}%>
                                        </td>
                                        <td>
                                            <%= data[i].d611998002.toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <a href="/bas/delete/<%= data[i].id %>" class="btn btn-danger"> Delete </a>
                                            <a href="/bas/update/<%= data[i].id %>" class="btn btn-info"> Update </a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>