<%- include("../../views/_header") %>

    <div class="container ">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <% if(data) { %>
                            <form action="/bas/update/ <%= data.id %>" method="post">
                                <div class="form-group">
                                    <input type="text" name="a611998002" value="<%= data.a611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="b611998002" value="<%= data.b611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="true" name="c611998002" value="<%= data.c611998002 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="d611998002" value="<%= data.d611998002.toLocaleDateString()%>" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block"> Update </button>
                            </form>
                            <% } else { %>
                                <form action="/bas/add" method="post">
                                    <div class="form-group">
                                        <input type="text" name="a611998002" placeholder="Varchar" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" name="b611998002" placeholder="Float" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="c611998002" placeholder="Boolean = 0 or 1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" name="d611998002" placeholder="Date" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"> Save </button>
                                    <br>
                                    <div align="center">
                                        <a href="/bas" class="btn btn-primary btn-lg btn-block"> Back </a>
                                    </div>
                                </form>

                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>