<!DOCTYPE html>
<html>
<title>Group 4</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/_bootswatch.scss">
<link rel="stylesheet" href="/_variables.scss">

<body>
    <%if (session.success == false) { %>
        <% for (var i = 0; i< session.errors.errors.length; i++) { %>
            <div class="alert alert-danger" role="alert">
                <%= session.errors.errors[i]["msg"] %>
            </div>
            <%  }session.success=null;} %>
                <%if (session.success == true) { %>
              <div class="alert alert-success" role="alert">
                  <%= session.topic %>
              </div>
                <% }session.success=null; %>
                        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                            <a class="navbar-brand" href="/">HOME</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
                            <div class="collapse navbar-collapse" id="navbarColor01">
                                <ul class="navbar-nav mr-auto">

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/bas"> BAS <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/pram"> PRAM <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/oat"> OAT <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/s611998019"> TIEW <span class="sr-only">(current)</span></a>
                                    </li>
                            </div>
                        </nav>
