<%- include("_header") %>
    <style>
        body {
            background-image: url('https://vip-go.shutterstock.com/th_blog/wp-content/uploads/sites/16/2018/09/terazzo-marble-background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
            margin-bottom: auto;
            width: 60%;
        }
    </style>

    <div>
        <img src="https://www.freepngimg.com/thumb/welcome/26995-8-welcome-file.png" alt="wel" class="center">
    </div>

    <%- include ( '_footer.ejs') %>