<%- include("../../views/_header") %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <%  if(data){ %>
                            <form action="/oat/update/<%= data.id %>" method="post">
                                <div class="form-group">
                                    <input type="text" name="a03" value=" <%= data.a03 %>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="float(5,2)" name="b03" value=" <%= data.b03 %>" class="from-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="c03" value=" <%= data.c03 %>" class="from-control">
                                </div>
                                <div class="form-group">
                                    <input type="date" name="d03" value=" <%= data.d03 %>" class="from-control">
                                </div>
                                <button type="submit" class="btn btn-primary"> save </button>
                            </form>
                            <%  } else { %>
                                <form action="/oat/add" method="post">
                                    <div class="form-group">
                                        <input type="text" name="a03" placeholder="varchar" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="float(5,2)" name="b03" placeholder="float" class="from-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="c03" placeholder="boolean" class="from-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="date" name="d03" placeholder="date" class="from-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary"> save </button>
                                </form>
                                <%   } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>
