<%- include("../../views/_header") %>
<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <div class="container">
        <div class="row">


            <div class="col-md-9">
                <a href="/oat/new" class="btn btn-success">ADD</a>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> No </th>
                            <th> a03 </th>
                            <th> b03 </th>
                            <th> c03 </th>
                            <th> d03 </th>
                            <th> Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  if(data){ %>
                            <%  for(var i= 0; i< data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].a03 %>
                                    </td>
                                    <td>
                                        <%= data[i].b03 %>
                                    </td>
                                    <td>
                                        <%= data[i].c03 %>
                                    </td>
                                    <td>
                                        <%= data[i].d03.toLocaleDateString() %>
                                    </td>
                                    <td>
                                        <a href="/oat/delete/<%= data[i].id %>" class="btn btn-danger"> Delete</a>
                                        <a href="/oat/update/<%= data[i].id %>" class="btn btn-info"> Update</a>
                                    </td>
                                    <%  } %>
                                        <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>
